@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    position: absolute;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    /* Center cards horizontally */
}

.card {
    display: flex;
    height: 240px;
    width: 400px;
    /* Take full width of the container */
    border-radius: 10px;
    box-shadow: 0 1rem 1rem #d4d4d441;
    /* Space between cards */
    transition: 0.5s ease-out;
    position: relative;
    border: 1px solid #000;
    margin-right: -390px;
}

.blank {
    background: #fff;
}

.card:not() {
    margin-right: -230px;
    /* 80% overlap */
}

.card:hover:not(:first-child) {
    transform: translateY(-20px);
    z-index: 1000;
    order: 0;
    /* Brings hovered card to the front */
    transition: 0.5s ease-out;
}

.card::selection {
    transform: translateY(-25px);
    z-index: 1000;
    /* Brings hovered card to the front */
    transition: 0.5s ease-out;
}

.card:hover~.card {
    transform: none;
    /* Move subsequent cards downwards */
    transition: 0.4s ease-out;
}