@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    transition: transform 0.3s ease-in-out;
}

.rotate:hover {
    animation: rotate 2s linear infinite;
}